<div style="height: 200px; width: 100%"></div>
<!-- Navbar start  -->
<div
  class="d-flex justify-content-around fixed-bottom bg-white pt-2 card-shadow"
  style="padding-bottom: 44px"
>
  <div>
    <center>
      <a href="{% url 'index' %}">
        <i class="bi bi-house-door-fill navbar-icon" style="color: #4f67ff"></i>
        <p class="navbar-text my-0 py-0">Home</p>
      </a>
    </center>
  </div>
  <div>
    <center>
      <a href="{% url 'inventory' %}">
        <i class="bi bi-box navbar-icon"></i>
        <p class="navbar-text my-0 py-0">Stock</p>
      </a>
    </center>
  </div>
  <div>
    <center>
      <a href="{% url 'team' %}">
        <i class="bi bi-people navbar-icon"></i>
        <p class="navbar-text my-0 py-0">Team</p>
      </a>
    </center>
  </div>
  <div>
    <center>
      <i class="bi bi-gear navbar-icon"></i>
      <p class="navbar-text my-0 py-0">Settings</p>
    </center>
  </div>
</div>
